.producto {
    max-width: 1000px;
    margin: 20px auto;
    justify-content: center; 
    align-items: center;
}

.formulario {
    
  display: flex;
  flex-direction: column;
 
  
  width: 100%; /* El formulario ocupará todo el ancho disponible */
  max-width: 500px;
}
