.sorteo {
    max-width: 1000px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 100%; 
  }
  .titulosorteo{
    color: var(--amarillo);
    text-shadow: -2px -2px 0 #050505, 2px -2px 0 #070707, -2px 2px 0 #070707, 2px 2px 0 #030303;
    font-size: 80px;
    font-weight: bold;
  }
  .titulosorteo2 {
    color: var(--amarillo);
    text-shadow: -2px -2px 0 #050505, 2px -2px 0 #070707, -2px 2px 0 #070707, 2px 2px 0 #030303;
    font-size: 30px;
    font-weight: bold;
  }
  
  .formulario {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    width: 1000px;
    max-width: 1000px; 
    
  }
  
  .formulario label,
  .formulario input,
  .formulario textarea,
  .formulario input[type="submit"] {
   
    max-width: 1000px; 
    margin: 5px;
   
  }
  