
.servicio {
  max-width: 1000px;
  margin: 20px auto;
}
.servicio-title {
  text-align: center;


  
  color: var(--amarillo);
  text-shadow: -2px -2px 0 #050505, 2px -2px 0 #070707, -2px 2px 0 #070707, 2px 2px 0 #030303;
  font-size: 30px;
  font-weight: bold;
}

.servicio-contenedor p {
  font-size: 25px;
}
.imagen-servicio {
  max-width: 500px; /* Ajusta el ancho máximo de la imagen al ancho del contenedor que la contiene */
  /* Centra las imágenes horizontalmente dentro de su contenedor */
  margin-bottom: 20px;
}
