.servicio {
  max-width: 1000px;
  margin: 20px auto;
}

.servicio-title {
  text-align: center;
  color: var(--blanco);
  text-shadow: -2px -2px 0 #050505, 2px -2px 0 #070707, -2px 2px 0 #070707, 2px 2px 0 #030303;
  font-size: 70px;
  font-weight: bold;
}

.servicio-contenedor p {
  font-size: 25px;
  color: var(--blanco);
  text-shadow: -2px -2px 0 #050505, 2px -2px 0 #070707, -2px 2px 0 #070707, 2px 2px 0 #030303;
  font-size: 35px;
}

.imagen-servicio {
  max-width: 500px;
  margin-bottom: 20px;
}

.imagen-servicio:hover {
  cursor: crosshair;
  width: 450px;
  opacity: 1;
  filter: contrast(100%);
  flex-grow: 1;
  object-fit: cover;
}
.contenedor-imagenes{
  max-width: 1000px;

}
