.card {
    max-width: 400px;
    margin: 40px auto;
    background-color: #ffffff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .imagen-producto-venta {
    width: 100%;
    object-fit: cover;
  }
  
  .card-content {
    padding: 16px;
    color: #333333;
  }
  
  .card-content h2 {
    font-size: 1.5rem;
    margin: 0 0 12px;
    color: #222222;
  }
  
  .card-content p {
    margin: 0 0 12px;
    line-height: 1.6;
  }
  
  .card-info-detalles {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .precio {
    font-size: 1.25rem;
    font-weight: bold;
    color: #007bff;
    margin: 0;
  }
  
  .envio {
    font-size: 0.875rem;
    color: #ffffff;
    background-color: #28a745;
    padding: 4px 8px;
    border-radius: 12px;
    display: inline-block;
    text-align: center;
  }
  
  .card-content p:last-child {
    margin: 0;
  }
  
  .card-content div:last-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
  }
  
  .btn {
  background-color: #0070f3;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
}

.btn:hover {
  background-color: #0056b3;
}
