.principal {
  display: flex;
  flex-wrap: nowrap; /* Evitar que los elementos se apilen */
  justify-content: flex-start; /* Alineación horizontal a la izquierda */
  align-items: center; /* Centrar verticalmente */
  max-width: 1200px;
  width: 100%;
  gap: 20px;
}

.pokemon-container-row {
  display: flex;
  flex-direction: row; /* Asegurar que estén en fila */
  width: 100%;
}

.imagen-container {
  flex: 1;
  display: flex;
  justify-content: flex-start; /* Imagen siempre a la izquierda */
  align-items: center;
}

.imagen-container img {
  width: 190px; /* Ajusta el tamaño según necesites */
  height: auto; /* Mantener proporción */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombras */
}

.info {
  flex: 2; /* Ocupa más espacio que la imagen */
  color: var(--blanco);
  text-shadow: -2px -2px 0 #050505, 2px -2px 0 #070707, -2px 2px 0 #070707, 2px 2px 0 #030303;
  font-size: 40px;
  font-weight: bold;
  text-align: justify;
  line-height: 1.2;
  margin-bottom: 30px;
  margin-top: 30px;
}
@media (max-width: 768px) {
  .principal {
    flex-direction: column; /* Apilar elementos en móviles */
    align-items: center; /* Centrar los elementos */
  }

  .pokemon-container-row {
    flex-direction: column; /* Apilar contenido */
  }

  .imagen-container img {
    max-width: 150px; /* Reducir tamaño de la imagen en móviles */
  }

  .info {
    font-size: 1rem; /* Reducir texto para mejor lectura en pantallas pequeñas */
    text-align: center; /* Centrar el texto */
  }
}

.servicio {
  max-width: 1200px;
  margin: 20px auto;
}

.servicio-title {
  text-align: center;
  color: var(--blanco);
  text-shadow: -2px -2px 0 #050505, 2px -2px 0 #070707, -2px 2px 0 #070707, 2px 2px 0 #030303;
  font-size: 70px;
  font-weight: bold;
}

.servicio-contenedor p {
  font-size: 25px;
  color: var(--blanco);
  text-shadow: -2px -2px 0 #050505, 2px -2px 0 #070707, -2px 2px 0 #070707, 2px 2px 0 #030303;
  font-size: 35px;
}

.imagen-servicio {
  max-width: 600px;
  margin-bottom: 20px;
}

.imagen-servicio:hover {
  cursor: crosshair;
  width: 450px;
  opacity: 1;
  filter: contrast(100%);
  flex-grow: 1;
  object-fit: cover;
}
.contenedor-imagenes{
  max-width: 1200px;

}

@media (max-width: 768px) {
  .servicio-title {
    font-size: 2.5rem; /* Reducir tamaño del título */
  }

  .servicio-contenedor p {
    font-size: 1.2rem; /* Texto más compacto */
    line-height: 1.5; /* Legibilidad en pantallas pequeñas */
    text-align: center;
  }

  .imagen-servicio {
    max-width: 90%; /* Reducir tamaño en móviles */
    margin-left: 1rem;
  }
}

/* Adaptación para pantallas pequeñas (móviles pequeños) */
@media (max-width: 480px) {
  .servicio-title {
    font-size: 2rem; /* Reducir aún más el tamaño del título */
  }

  .servicio-contenedor p {
    font-size: 1rem;
    line-height: 1.4;
  }

  .imagen-servicio {
    max-width: 100%; /* Imagen ocupa todo el ancho del contenedor */
    justify-content: center;
  }
}
