.main {
  }
  
  .principal {
    width: 1300px;
    overflow: hidden;
    margin-bottom: 5px;
  }
  
  .imagen-container {
    
    max-width: 30%;
    height: auto; 
    display: block; 
    margin: 15px 15px 0px 30px; 
    float: left;
    
  }
  
  .pokemon-container-row {
    display: flex;
    margin-bottom: 30px; 
  }
  
  .pokemon-container-row > * {
    flex: 1; 
    margin: 5px; 
  }
  
 

  
  .info {
    color: var(--amarillo);
    text-shadow: -2px -2px 0 #050505, 2px -2px 0 #070707, -2px 2px 0 #070707, 2px 2px 0 #030303;
    font-size: 33px;
    font-weight: bold;
    margin-top: 25px;
    
  }