.wrapper {
    max-width: 1200px;
    align-items: center;
    
    
}
.titulowrapper {
    text-align: center;
    color: var(--blanco);
    text-shadow: -2px -2px 0 #050505, 2px -2px 0 #070707, -2px 2px 0 #070707, 2px 2px 0 #030303;
    font-size: 50px;
    font-weight: bold;
    
}
.grilla {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}
.filtro{
    color: var(--blanco);
    text-shadow: -2px -2px 0 #050505, 2px -2px 0 #070707, -2px 2px 0 #070707, 2px 2px 0 #030303;
    font-size: 50px;
    font-weight: bold;
    margin-top: 35px;
    
}