.nav {
    max-width: 100%;
    margin: 0px auto;
    padding-bottom: 30px;
}

.nav-lista {
    display: flex;
    
    list-style: none;
}

.nav-item {
    background-color: var(--amarillo);
    flex-grow: 1;
    padding: 30px 30px;
    text-align: center;
}